@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #f2f9ff;
  --color-primary-dark: #080c1a;
}

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.text-color {
  @apply bg-[linear-gradient(125deg,#632EE3_5.68%,#9F62F2_88.38%)] bg-clip-text text-transparent;
}
